<section class="about">
    <div class="container">
        <p class="presentation"><strong>Kléré</strong> imaginé en 2022 par Mélody Moutamalle et Nora Domi, est une <strong>frise chronologique</strong> numérique sur l'<strong>Histoire de la Martinique</strong>. Elle a pour but de mettre en valeur toute l'histoire de l'île en partant de sa formation géologique jusqu'à maintenant.</p>
        <aside class="authors">
            <article class="author">
                <h2 class="author__name">Mélodie MOUTAMALLE</h2>
                <p class="author__role">Médiatrice culturelle et historique</p>
                <p class="author__description">Chercheuse en Histoire indépendante. Je travaille notamment sur la politique muséale en Martiniqiue, et celle menée par les anciens Conseil général et Conseil régional, des années 1940 aux années 2000.</p>
            </article>
            <article class="author">
                <h2>Nora DOMI</h2>
                <p class="author__role">Chargée de mission de médiation culturelle</p>
            </article>
        </div>
    </div>
</section>