<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

    {% include 'header.njk'  %}
    
    <main>
        {{ content | safe }}
    </main>

    <script>
      const rem = parseFloat(getComputedStyle(document.documentElement).fontSize)

      const el = document.querySelector(".page-header")
      const observer = new IntersectionObserver( 
        ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
        { threshold: [1] }
      );

      observer.observe(el);

    </script>

</body>
</html>
