---
layout: base.njk
title: Découvrir l'Histoire de la Martinique
permalink: "{{ category | slugify }}/{{ title | slugify }}/index.html"
---

{% import "macros/pagination.njk" as pagination with context %}

{%- set firstPost = collections.post[0] -%}
<div class="container history" data-barba="wrapper">

    <nav class="timeline">
        <ol>
        {% for post in collections.post | sortByDate  -%}
            <li><a href={{ post.url }}{% if post.url == page.url %} aria-current="page"{% endif %}><span>{{ post.data.shrunkPeriod }}</span></a></li>
        {% endfor -%}
        </ol>
    </nav>

    <article data-barba="container" data-barba-namespace="home">

        <header class="period">
            <h1>{{ period }}</h1>
            <div class="period__content">
                <h2>{{ title }}</h2>
                {% if titlePicture %}
                <figure>
                    <img src={{ titlePicture }} alt="" />
                </figure>
                {% endif %}
            </div>
            
            <a href="#" class="see_more" id="toggle_details" aria-controls="details" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                <span class="more">Plus de détails</span>
                <span class="less">Moins de détails</span>
            </a>

            <nav class="history-nav" role="navigation">
                {% set arrowLeft = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" /></svg>' %}
                {% set arrowRight = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" /></svg>' %}
                {{ pagination.getPreviousItemInCollection('post', arrowLeft, 'prev-link') }}
                {{ pagination.getNextItemInCollection('post', arrowRight, 'next-link') }}
            </nav>
        </header>

        <section id="details" role="region" tabindex="-1">
        {% set cls = cycler("odd", "even") %}
        {% for detail in details %}
            <div class="{{ cls.next() }}">
                <img src={{ detail.img }} alt="" />
                <p>{{ detail.text }}</p>
            </div>
        {% endfor %}
        </section>

    </div>

</article>

{% set categories = ['Formation géologique', 'Peuplement', 'Contemporain'] %}

<nav class="periods">
    <ul>
        {% for category in categories %}
        <li>
            <a href="#"{% if category in tags %} aria-current="page"{% endif %}>{{ category }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

<script src=" https://cdn.jsdelivr.net/npm/@barba/core@2.9/dist/barba.umd.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/animejs@3.2/lib/anime.min.js "></script>
<script src="/scripts/chronology.js"></script>
