---
layout: base.njk
title: Découvrir l'Histoire de la Martinique
permalink: "{{ category | slugify }}/{{ title | slugify }}/index.html"
---

{%- set firstPost = collections.post[0] -%}
<div class="container history" data-barba="wrapper">

    <nav class="timeline">
        {% for cat, items in collections.post | sortByDate | groupby('data.category') %}
        <ol class="{{ cat | slugify }}{% if category == cat %} active{% endif %}">
        {% for post in items  -%}
            <li><a href={{ post.url }}{% if post.url == page.url %} aria-current="page"{% endif %}><span>{{ post.data.shrunkPeriod }}</span></a></li>
        {% endfor -%}
        </ol>
        {% endfor %}
    </nav>

    <article data-barba="container" data-barba-namespace="home">

        <header class="period">
            <h1>{{ period }}</h1>
            <div class="period__content">
                <h2>{{ title }}</h2>
                {% if titlePicture %}
                <figure>
                    <img src={{ titlePicture }} alt="" />
                </figure>
                {% endif %}
            </div>
            
            <a href="#" class="see_more" id="toggle_details" aria-controls="details" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
                <span class="more">Plus de détails</span>
                <span class="less">Moins de détails</span>
            </a>

            <nav class="history-nav" role="navigation">
                {% set previous = collections.post | getPreviousCollectionItem %}
                {% set next = collections.post | getNextCollectionItem %}

                {% if previous %}
                <a href="{{ previous.url | url }}" class="prev-link" aria-label="Précédent" data-direction="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" /></svg>
                </a>
                {% endif %}

                {% if next %}
                <a href="{{ next.url | url }}" class="next-link" aria-label="Suivant" data-direction="next">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" /></svg>
                </a>
                {% endif %}
            </nav>
        </header>

        <section id="details" role="region" tabindex="-1">
        {% set cls = cycler("odd", "even") %}
        {% for detail in details %}
            <div class="{{ cls.next() }}">
                <img src={{ detail.img }} alt="" />
                <p>{{ detail.text }}</p>
            </div>
        {% endfor %}
        </section>

    </div>

    <nav class="periods">
        <ul>
            {% for cat, items in collections.post | groupby('data.category') %}
            <li>
                <a class="{{ cat | slugify }}" href="{{ items[0].url }}"{% if category == cat %} aria-current="page"{% endif %}>{{ cat }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>

</article>

<script src=" https://cdn.jsdelivr.net/npm/@barba/core@2.9/dist/barba.umd.min.js "></script>
<script src=" https://cdn.jsdelivr.net/npm/animejs@3.2/lib/anime.min.js "></script>
<script src="/scripts/chronology.js"></script>
