<footer class="footer">
    <div class="container">
        <nav class="footer__nav">
            <ul role="list" class="footer__nav-list">
                <li>
                    <a href="/mentions">Mentions légales</a>
                </li>
                <li>
                    <a href="/policy">Politique de confidentialité</a>
                </li>
            </ul>
        </nav>
        <div class="footer__bottom">
            <span class="site-name">Kléré</span>
            <p class="copyright">@ Pitak 2023</p>
            <p class="credits">Experience numérique réalisée par <a href="https://webmonster.tech/">Webmonster</a></p>
        </div>
    </div>
</footer>