<header class="page-header">
    <div class="container">
        <div class="header__content">
            <div class="site-name">
                <a href="/">Kléré</a>
            </div>
            <nav class="header-nav">
                <ul role="list" class="nav-list">
                    <li class="nav-item account">
                        <a href="#">Compte</a>
                    </li>
                    <li class="nav-item menu">
                        <a href="#">Menu</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>