<header class="page-header">
    <div class="container">
        <div class="header__content">
            <div class="site-name">
                <a href="/">Kléré</a>
            </div>
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-item menu">
                        <a href="#" aria-controls="main-menu" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <span>Menu</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>