<section class="hero">
    <div class="hero__content container">
        <span>Chronologie</span>
        <h1><strong>Découvrir l'Histoire de la Martinique</strong> de -15 000 ans à nos jours</h1>
    </div>
    <div class="hero__banner">
        <div class="container">
            <span class="hero__banner-title"><span>Klé</span><span>ré</span></span>
        </div>
    </div>
</section>