<nav class="main-nenu" id="main-menu" role="region" tabindex="-1">
    <button type="button" class="btn-close" aria-controls="main-menu" aria-expanded="false">
        <span>Fermer</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
    <ul>
        <li>
            {% set posts = collections.post | sortByDate %}
            <a href="{{ posts[0].url }}">Chronologie</a>
        </li>
        <li>
            <a href="/about">À propos</a>
        </li>
        <li>
            <a href="mailto:bonjour@klere.fr">Contact</a>
        </li>
    </ul>
</nav>