<article class="period">
    <h1>{{ period }}</h1>
    <div class="period__content">
        <h2>{{ title }}</h2>
        <figure>
            <img src={{ titlePicture }} alt="" />
        </figure>
    </div>
    <a class="see_more" href="#">Plus de détails</a>
</article>