{% macro getPreviousItemInCollection(collection, libelle='', class='') %}

{% set currentItemIndex = 0 %}
{% set countOfItems = collections[collection].length %}

{% for item in collections[collection] %}
  {% if item.url == page.url %}
  	{% set currentItemIndex = loop.index0 %}
	{% endif %}
{% endfor %}

{% set prevItemIndex = currentItemIndex - 1  %}
{% set prevItem = collections[collection][prevItemIndex] %}

{% if prevItem %}
<a href="{{ prevItem.url | url }}" class="{{class}}" aria-label="Précédent" data-direction="prev">{% if libelle %}{{ libelle | safe }}{% else %}{{ prevItem.data.title }}{% endif %}</a>
{% endif %}

{% endmacro %}


{% macro getNextItemInCollection(collection, libelle='', class='') %}

{% set currentItemIndex = 0 %}
{% set countOfItems = collections[collection].length %}

{% for item in collections[collection] %}
  {% if item.url == page.url %}
  	{% set currentItemIndex = loop.index0 %}
	{% endif %}
{% endfor %}

{% set nextItemIndex = currentItemIndex + 1  %}
{% set nextItem = collections[collection][nextItemIndex] %}

{% if nextItem %}
<a href="{{ nextItem.url | url }}" class="{{class}}" aria-label="Suivant" data-direction="next">{% if libelle %}{{ libelle | safe }}{% else %}{{ nextItem.data.title }}{% endif %}</a>
{% endif %}

{% endmacro %}