

@keyframes rollingDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(100%);
    }
    51% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes rollingLeft {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-150%);
    }
    51% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes rollingRight {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(150%);
    }
    51% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}