html {
    font-size: var(--base-font-size);
}

body {
    color: var(--color-darkgray);
    font-family: Satoshi;
}

.container {
    margin-inline: auto;
    padding-inline: 2rem;
}

.site-name {
    font-family: 'CabinetGrotesk';
    font-weight: 800;
}

.tag {
    display: inline-block;
    border-radius: 9999px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    line-height: 110%;
    padding-block: 0.5rem;
    padding-inline: 2.5rem;
}

.btn {
    display: inline-block;
    border-radius: 9999px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    &.btn-primary {
        background-color: var(--color-blue);
        color: white;
    }

    &.btn-icon {
        line-height: 1;
    }
}

.page__title {
    border-top: 1px solid black;
    margin-block: 4rem;
    padding-top: 2rem;
    position: relative;

    &::before {
        content: '';
        height: 1rem;
        border-left: 1px solid black;
        display: block;
        bottom: 0;
        top: 0;
        position: absolute;
    }

    &::after {
        content: '';
        height: 1rem;
        border-left: 1px solid black;
        display: block;
        top: 0;
        right: 0;
        position: absolute;
    }
}