.period {
    padding-block: 2rem;

    h1 {
        display: inline-block;
        background-color: var(--color-blue);
        color: white;
        font-size: 2rem;
        font-weight: 700;
        line-height: 110%;
        padding: 1.5rem 2.5rem;
        float: right;
    }

    .period__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding-block: 4rem;
        padding-inline: 4rem;
        clear: both;
    }

    h2 {
        font-size: 6.25rem;
        font-weight: 900;
        line-height: 110%;
        width: 50%;
    }

    figure {
        margin-inline: auto;
        transform: rotate(-3deg);
    }

    .see_more {
        color: black;
        font-size: 2rem;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        transition: color 0.1s ease-in-out;

        svg {
            background-color: black;
            border-radius: 2rem;
            color: white;
            content: '';
            display: inline-block;
            width: 6rem;
            height: 4rem;
            stroke-width: 1px;
            transition: background-color 0.1s ease-in-out;

            path {
                scale: 0.8;
                transform-origin: center;
            }
        }

        &:where(:hover, :focus) {
            color: var(--color-blue);
            svg {
                background-color: var(--color-blue);
                path {
                    animation-name: rollingDown;
                    animation-duration: 800ms;
                }
            }
        }
    }
}

.prev-link,
.next-link {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border-radius: 9999px;
    border: 1px solid black;
    color: black;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:is(:hover, :focus) {
        color: var(--color-blue);
        border-color: var(--color-blue);
    }

    svg {
        path {
            scale: 0.5;
            transform-origin: center;
        }
    }
}

.prev-link {
    left: -1rem;
    &:is(:hover, :focus) {
        svg {
            path {
                animation-name: rollingLeft;
                animation-duration: 800ms;
            }
        }
    }
}

.next-link {
    right: -1rem;
    &:is(:hover, :focus) {
        svg {
            path {
                animation-name: rollingRight;
                animation-duration: 800ms;
            }
        }
    }
}

.periods {
    margin-bottom: 4rem;

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1px;
        background-color: white;

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        li {
            a {
                display: block;
                text-decoration: none;
                text-align: center;
                font-size: 2rem;
                font-seight: 700;
                line-height: 110%;
                background-color: black;
                color: white;
                padding: 0.5rem 1rem;
                transition:
                    color 0.2s ease,
                    background-color 0.2s ease;

                &:where(:hover, :focus, [aria-current='page']) {
                    background-color: var(--color-yellow);
                    color: black;
                }
            }
        }
    }
}

[data-barba='wrapper'] {
    position: relative;

    &.is-animating {
        .prev-link,
        .next-link {
            opacity: 0;
        }
    }
}

[data-barba='container'] {
    will-change: transform;

    .is-animating > & {
        position: absolute;
        width: calc(100% - 4rem);
    }
}
