.period {
    padding-block: 2rem;
    position: relative;
    min-height: calc(100dvh - 120px); /* petit hack lié au header sticky */
    display: grid;
    grid-template:
        "topleft topcenter topright" 0fr 
        "middle middle middle" 1fr 
        "bottom bottom bottom";

    h1 {
        display: inline-block;
        background-color: var(--color-blue);
        color: white;
        font-size: 2rem;
        font-weight: 700;
        line-height: 110%;
        padding: 1.5rem 2.5rem;
        float: right;
        grid-area: topright;
    }

    .period__content {
        grid-area: middle;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding-block: 4rem;
        padding-inline: 4rem;
        clear: both;
    }

    h2 {
        font-size: 6.25rem;
        font-weight: 900;
        line-height: 110%;
        flex-grow: 1;
        flex-shrink: 2;
    }

    figure {
        transform: rotate(-3deg);
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;

        img {
            margin-inline: auto;
        }
    }

    .see_more {
        grid-area: bottom;
        color: black;
        font-size: 2rem;
        font-weight: 400;
        line-height: 150%;
        text-decoration: none;
        display: inline-flex;
        margin-inline: 4rem;
        align-items: center;
        gap: 1rem;
        transition: color 0.1s ease-in-out;

        svg {
            background-color: black;
            border-radius: 2rem;
            color: white;
            content: '';
            display: inline-block;
            width: 6rem;
            height: 4rem;
            stroke-width: 1px;
            transition: background-color 0.1s ease-in-out;

            path {
                scale: 0.8;
                transform-origin: center;
            }
        }

        &:where(:hover, :focus) {
            color: var(--color-blue);
            svg {
                background-color: var(--color-blue);
                path {
                    animation-name: rollingDown;
                    animation-duration: 800ms;
                }
            }
        }

        &[aria-expanded="false"] {
            .more {
                display: block;
            }
            .less {
                display: none;
            }
        }

        &[aria-expanded="true"] {
            .more {
                display: none;
            }
            .less {
                display: block;
            }
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.history-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.prev-link,
.next-link {
    position: absolute;
    display: block;
    border-radius: 9999px;
    border: 1px solid black;
    color: black;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:is(:hover, :focus) {
        color: var(--color-blue);
        border-color: var(--color-blue);
    }

    svg {
        path {
            scale: 0.5;
            transform-origin: center;
        }
    }
}

.prev-link {
    left: -1rem;
    &:is(:hover, :focus) {
        svg {
            path {
                animation-name: rollingLeft;
                animation-duration: 800ms;
            }
        }
    }
}

.next-link {
    right: -1rem;
    &:is(:hover, :focus) {
        svg {
            path {
                animation-name: rollingRight;
                animation-duration: 800ms;
            }
        }
    }
}

.periods {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1px;
        background-color: white;

        li {
            a {
                display: block;
                text-decoration: none;
                text-align: center;
                font-size: 2rem;
                font-seight: 700;
                line-height: 110%;
                background-color: black;
                color: white;
                padding: 0.5rem 1rem;
                transition:
                    color 0.2s ease,
                    background-color 0.2s ease;

                &:where(:hover, :focus, [aria-current='page']) {
                    background-color: var(--backgroundColor);
                    color: var(--color);
                }
            }
        }
    }
}

#details {
    display: none;
    scroll-margin-top: 18rem;
    &.open {
        display: block;
    }

    & > div {
        overflow: hidden;
        font-size: 3rem;
        font-weight: 400;
        line-height: 110%;
        margin-bottom: 4rem;
        &.odd {
            img {
                float: left;
                padding-right: 3rem;
            }
        }
        &.even {
            img {
                float: right;
                padding-left: 3rem;
            }
        }
    }
}

[data-barba='wrapper'] {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "timeline" 
        "main";

    .timeline {
        grid-area: timeline;
    }

    &.is-animating {
        .prev-link,
        .next-link {
            opacity: 0;
        }
    }
}

[data-barba='container'] {
    grid-area: main;
    will-change: transform;

    /* .is-animating > & {
        position: absolute;
        width: calc(100% - 4rem);
    } */
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    
    &.active,
    &:hover {
        background-color: #555;
    }
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
