.page-header {
    background-color: white;
    margin-top: 2rem;
    position: sticky;
    top: -1px;

    &.is-pinned {
        z-index: 10;
        .site-name {
            transition: font-size 0.2s ease;
            font-size: 2rem;
        }
        .nav-list {
            li {
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .5rem;
                    transition: all 0.2s ease;
                }
                svg {
                    transition: all 0.2s ease;
                    height: 2rem;
                    width: 2rem;
                    border: 0 none;
                    padding: 0;
                }
            }
        }
    }

    .header__content {
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .site-name {
        font-size: 4rem;
        position: relative;
        padding-inline: 1rem;

        a {
            color: inherit;
            text-decoration: none;
        }

        &::before {
            content: "";
            height: 20px;
            border-left: 1px solid black;
            display: block;
            bottom: 0;
            left: 0;
            position: absolute;
        }
    }

    .header-nav {
        display: flex;
        align-items: stretch;
    }

    .nav-list {
        display: flex;
        align-content: center;
        align-items: stretch;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-inline: 1rem;
            position: relative;
            text-align: center;

            &:first-child::before {
                content: "";
                height: 20px;
                border-left: 1px solid black;
                display: block;
                bottom: 0;
                left: 0;
                position: absolute;
            }

            &::after {
                content: "";
                height: 20px;
                border-left: 1px solid black;
                display: block;
                bottom: 0;
                right: 0;
                position: absolute;
            }

            svg {
                width: 4rem;
                height: 4rem;
                border: 1px solid black;
                border-radius: 9999px;
                padding: .5rem;

                path {
                    stroke-width: 1px;
                }
            }

            a {
                color: inherit;
                font-size: .8rem;
                text-decoration: none;

                &:is(:hover,:focus) {
                    color: var(--color-blue);
                    svg {
                        border-color: var(--color-blue);
                    }
                }
            }
        }
    }
}