.hero {
    .hero__content {
        margin-block: 3rem 4rem;
        display: flex;
        span {
            flex-grow: 2;
            display: block;
            font-size: 3rem;
            font-weight: 300;
            line-height: 110%;
        }
        h1 {
            flex-grow: 12;
            font-size: 1.5rem;
            font-weight: normal;
            strong {
                display: block;
            }
        }
    }

    .hero__banner {
        background-color: var(--color-lightgray);
        padding-block: 2rem;
        margin-block: 4rem;
        .hero__banner-title {
            text-transform: uppercase;
            span:nth-child(1) {
                font-size: 9.375rem;
                margin-left: 10%;
            }
            span:nth-child(2) {
                transform: rotate(-90deg);
                display: inline-block;
                font-size: 21.875rem;
                font-weight: 500;
                margin-left: 20%;
            }
        }
    }
}

.history {
    .history__content {
        border-top: 1px solid black;
        position: relative;
        padding-top: 3rem;

        &::before {
            content: '';
            height: 1rem;
            border-left: 1px solid black;
            display: block;
            bottom: 0;
            top: 0;
            position: absolute;
        }

        &::after {
            content: '';
            height: 1rem;
            border-left: 1px solid black;
            display: block;
            top: 0;
            right: 0;
            position: absolute;
        }
    }

    .history__description {
        font-size: 6.3125rem;
        font-weight: 400;
        line-height: 7.5rem;
        margin-top: 3rem;
    }

    .actions {
        .btn {
            font-size: 4rem;
            padding-block: 2.5rem;
            padding-inline: 4.5rem;
        }
        margin-block: 3rem;
    }
}

.about {
    background-color: var(--color-darkgray);
    color: white;
    padding-block: 4rem;

    .container {
        display: flex;
        gap: 2rem;
    }

    .presentation {
        width: 60%;
        font-size: 5.6875rem;
        font-weight: 800;
    }

    .authors {
        width: 40%;
    }

    .author {
        border-top: 1px solid white;
        padding-block: 1rem;

        & + .author {
            margin-top: 3rem;
        }
    }

    .author__name {
        font-size: 4rem;
        font-weight: 500;
    }

    .author__role {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .author__description {
        font-size: 2.375rem;
        font-weight: 500;
    }
}

.partners {
    margin-block: 4rem;

    .partner__title {
        font-size: 2rem;
        font-weight: 500;
    }

    .partner__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        list-style: none;
        border-bottom: 1px solid black;
        padding: 0;
        position: relative;

        &::before {
            content: '';
            height: 1rem;
            border-left: 1px solid black;
            display: block;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        li {
            text-align: center;
            padding-block: 2rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
            }

            &::after {
                content: '';
                height: 1rem;
                border-left: 1px solid black;
                display: block;
                bottom: 0;
                right: 0;
                position: absolute;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .hero {
        .hero__content {
            flex-direction: column;
            gap: 2rem;
        }
        .hero__banner {
            .hero__banner-title {
                span:nth-child(2) {
                    font-size: 10.875rem;
                }
            }
        }
    }
    .history {
        .history__description {
            font-size: 2.3125rem;
            font-weight: 400;
            line-height: 2.8rem;
        }
        .actions {
            .btn {
                font-size: 2rem;
                padding-block: 1rem;
                padding-inline: 2.5rem;
            }
            margin-block: 3rem;
        }
    }
    .about {
        .container {
            flex-direction: column;
            gap: 2rem;
        }

        .presentation {
            width: 100%;
            font-size: 2.6875rem;
        }

        .authors {
            width: 100%;
        }

        .author__name {
            font-size: 3rem;
        }
    }
}
