@import 'reset.css';
@import 'typography.css';
@import 'base.css';
@import 'animations.css';
@import 'header.css';
@import 'footer.css';
@import 'menu.css';
@import 'homepage.css';
@import 'timeline.css';
@import 'chronology.css';

:root {
    --color-blue: #6191ff;
    --color-yellow: #fcdb38;

    --base-font-size: 16px;
}
