@import 'reset.css';
@import 'typography.css';
@import 'base.css';
@import 'animations.css';
@import 'header.css';
@import 'footer.css';
@import 'menu.css';
@import 'homepage.css';
@import 'timeline.css';
@import 'chronology.css';

:root {
    --color-lightgray: #efefef;
    --color-darkgray: #1e1e1e;
    --color-blue: #6191ff;
    --color-green: #007d53;
    --color-pink: #fbc2d3;
    --color-red: #f25836;
    --color-yellow: #fcdb38;

    --base-font-size: 16px;
}
