---
layout: base.njk
title: Découvrir l'Histoire de la Martinique
---
{% include 'hero.njk' %}

<div class="container">
    <header class="page__title">
        <h2 class="tag">À propos</h2>
    </header>
</div>

{% include 'about.njk' %}

{% include 'partners.njk' %}

{% include 'footer.njk' %}