---
layout: base.njk
title: Découvrir l'Histoire de la Martinique
---

<main>
    <script>
        function handleClick(title, period, titlePicture) {
            document.querySelector('.period h1').textContent = period;
            document.querySelector('.period h2').textContent = title;
            document.querySelector('.period img').src = titlePicture;
        }
    </script>
    {%- set firstPost = collections.post[0] -%}
    <div class="container">

        <div class="timeline">
            <ol role="list">
            {%- for post in collections.post -%}
              <li onclick="handleClick('{{ post.data.title | escape}}', '{{ post.data.period | escape}}', '{{ post.data.titlePicture | escape}}')"><span>{{ post.data.shrunkPeriod }}</span></li>
            {%- endfor -%}
            </ol>
        </div>

        <article class="period">
            <h1>{{ firstPost.data.period }}</h1>
            <div class="period__content">
                <h2>{{ firstPost.data.title }}</h2>
                <figure>
                    <img src={{ firstPost.data.titlePicture }} alt="" />
                </figure>
            </div>
            <a class="see_more" href="#">Plus de détails</a>
        </article>

    </div>

<aside class="periods">
    <ul role="list">
        <li>
            <a href="#" class="active">Formation géologique</a>
        </li>
        <li>
            <a href="#">Peuplement</a>
        </li>
        <li>
            <a href="#">Colonisation</a>
        </li>
        <li>
            <a href="#">Contemporain</a>
        </li>
    </ul>
</aside>