---
layout: base.njk
title: Découvrir l'Histoire de la Martinique
---

<div class="container">

    <div class="timeline">
        <ol role="list">
            <li><a href="#"><span>-24 Ma</span></a></li>
            <li class="current"><a href="#"><span>~ -19/18 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
            <li><a href="#"><span>-17/10 Ma</span></a></li>
        </ol>
    </div>

    <article class="period">
        <h1>Environ -19/18 millions d'années</h1>
        <div class="period__content">
            <h2>La presqu'île de Sainte-Anne</h2>
            <figure>
                <img src="https://picsum.photos/id/973/500/280" alt="" />
            </figure>
        </div>
        <a class="see_more" href="#">Plus de détails</a>
    </article>

</div>

<aside class="periods">
    <ul role="list">
        <li>
            <a href="#" class="active">Formation géologique</a>
        </li>
        <li>
            <a href="#">Peuplement</a>
        </li>
        <li>
            <a href="#">Colonisation</a>
        </li>
        <li>
            <a href="#">Contemporain</a>
        </li>
    </ul>
</aside>