---
layout: base.njk
title: Découvrir l'Histoire de la Martinique
---
{% include 'banner.njk'  %}

<section class="history container">
    <div class="history__content">
        <span class="tag">Histoire</span>
        <p class="history__description">Une frise chronologique des évènements qui forment l'histoire de l'île de la <strong>Martinique</strong>, sa formation géologique, son peuplement, son évolution jusqu'à nos jours…</p>
        <div class="actions">
            <a class="btn btn-primary" href="/chronology">Découvrir</a>
        </div>
        <article class="card">
            <span class="tag">Formation géologique</span>
            <div class="card__content">
                <h1>La formation géologique de l'île est à l'origine de la constitution d'écosystèmes terrestres et marins variés.</h1>
                <p>Formation entre la fin de l'Oligocène et du Miocène supérieur (entre 23 et 10 millions d'années)</p>
            </div>
            <div class="card__footer">
                <a href="/chronology" class="btn btn-icon" aria-label="Découvrir">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                    </svg>
                </a>
                <span class="num">01</span>
            </div>
        </article>
    </div>
</section>

<section class="about">
    <div class="container">
        <p class="presentation"><strong>Kléré</strong> imaginé en 2022 par Mélody Moutamalle et Nora Domi, est une <strong>frise chronologique</strong> numérique sur l'<strong>Histoire de la Martinique</strong>. Elle a pour but de mettre en valeur toute l'histoire de l'île en partant de sa formation géologique jusqu'à maintenant.</p>
        <aside class="authors">
            <article class="author">
                <h2 class="author__name">Mélodie MOUTAMALLE</h2>
                <p class="author__role">Médiatrice culturelle et historique</p>
                <p class="author__description">Chercheuse en Histoire indépendante. Je travaille notamment sur la politique muséale en Martiniqiue, et celle menée par les anciens Conseil général et Conseil régional, des années 1940 aux années 2000.</p>
            </article>
            <article class="author">
                <h2>Nora DOMI</h2>
                <p class="author__role">Chargée de mission de médiation culturelle</p>
            </article>
        </div>
    </div>
</section>

<aside class="partners">
    <div class="container">
        <h3 class="partner__title">Partenaires</h3>
        <ul role="list" class="partner__list">
            <li>
                <a href="https://webmonster.tech/">
                    <img src="/assets/webmonster.svg" alt="Webmonster" />
                </a>
            </li>
            <li>
                <a href="https://www.pitak.fr/">
                    <img src="/assets/pitak.svg" alt="Pitak" />
                </a>
            </li>
        </ul>
    </div>
</aside>

{% include 'footer.njk' %}